*{
    margin: 1px;
    padding:5px;
}


body{
    /*background-color: ;*/
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    list-style: none;

}
nav li{
    padding: 10px;
    margin-top: 4px;
    font-weight: bold;
}
nav li a{
    text-decoration: none;
    color: black;
}
 nav h2{
    padding: 8px;
    margin-left: 20px;
   

}
nav li a:hover{
    background-color: bisque;
    padding:12px;
    font-size: large;
    transition: 1.5s;
    transform: scale(1);

    

}
img{
    width: 40px;
    height: 40px;

}
.img1{
    justify-content: space-between;
    display: flex;
   
}
nav li:active{
    color: blueviolet;
}
.but{
   background-color: orange;
   color: white;
}
.h2{
    color: orange;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .img2{
    height: 40px;
    width: 40px;
    justify-content: end;
  }
.Icons{
    display: flex;
    justify-content: end;
}
  footer{
   background-color: rgb(160, 171, 167);

  }
  .footer container{
    width: 100%;
    padding: 70px 30px 20px ;
  }
  .socialIcons{
    display: flex;
    justify-content: center;

  }
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    
    margin: 10px;
    border-radius:50% ;

  }
  .socialIcons a i{
    font-size: 2;
    color:black ;
    opacity: 0.9;
  }
  .footerNav{
    margin: 30PX ;
 }
 
 .footerNav ul{
    display: flex;
    justify-content: center;
 }
 .footerNav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

 }
 .fotterbottam{
    background-color: rgb(81, 78, 74);
    padding: 20px;
    text-align: center;
 }
 .fotterbottam p{
    color: white;
 }
 .Designer{
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
    color: orange;
 }
 
 